html {
    font-size: 24px;
}

body {
    font-size: 1rem;
    background-color: #bbccff;
}

#errorMessage {
    color: red;
    font-weight: bold;
    display: none;
}
#errorMessage.show {
    display: inherit;
}

#success {
    color: green;
    font-weight: bold;
    display: none;
}
#success.show {
    display: inherit;
}

form {
    border: 1px solid black;
    border-radius: 1rem;
    margin: 0 0 0 2rem;
    padding: .5rem 1rem;
    width: fit-content;
}

form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5rem;
}

form label span {
    padding-right: 1rem;
}

button {
    background-color: green;
    color: white;
    padding: .25rem 1rem;
    border: 3px solid #88ff22;
    border-radius: 1rem;
    font-size: 1rem;
    display: inline-block;
    margin: 0 auto;
}

#box {
    background-color: red;
    width: 11rem;
    height: 7rem;
    font-size: 1rem;
    padding: 3rem 5rem;
    border: 2px solid black;
    color: white;
    font-family: monospace;
    box-sizing: border-box;
}
#box.green {
    background-color: green;
    color: black;
}