html {
    font-size: 18px;
    font-family: Roboto, Verdana, sans-serif;
}

body {
    font-size: 1rem;
    background-color: #c2c6ed;
    margin: 0;
    padding: 0;
}

#top-app-bar {
    background-color: #6200ee;
    color: white;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    z-index: 4;
    box-shadow: 0px 2px 10px 0px black;
    background-color: #1333ad;
    top: 0;
}

.mdc-top-app-bar__row {
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
}

.mdc-top-app-bar__section {
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    min-width: 0;
    padding: 8px 12px;
    z-index: 1;
}
.mdc-top-app-bar__section--align-start {
    justify-content: flex-start;
    order: -1;
}

.mdc-top-app-bar__title {
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
    text-decoration: inherit;
    text-transform: inherit;
    padding-left: 20px;
    padding-right: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    margin-left: 0;
    display: flex;
}

h1 {
    margin: 0;
    padding: 0;
    color: #d7b614;
    font-family: Consolas, "Courier New", monospace;
}

main {
    padding-top: 64px;
    padding-bottom: 2rem;
}

main > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

main > div > section:last-of-type {
    align-self: flex-end;
    border: 2px solid black;
    margin-left: .5rem;
}


main > div > section:last-of-type img {
    width: 500px;
    height: auto;
}

table {
    border-collapse: collapse;
    margin-left: 3rem;
    border: 2px solid black;
}

table caption {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

table caption span {
    display: inline-block;
    margin-right: 1rem;
}

table img {
    width: 100px;
    height: auto;
}

table tbody tr td {
    background-color: #e7d6cc;
}

table thead tr th {
    background-color: #47362c;
    color: #e7d6cc;
    padding: .25rem .5rem;
}

table tbody tr td:last-of-type {
    font-size: 2rem;
    text-align: center;
}

table tbody tr td.good:last-of-type {
    color: green;
}

table tbody tr td.good:last-of-type::before {
    content: '\2714';
    font-weight: bold;
}


table tbody tr td.bad:last-of-type {
    color: red;
}

table tbody tr td.bad:last-of-type::before {
    content: '\2718';
    font-weight: bold;
}

img.hide {
    display: none;
}

#go {
    border: 2px inset yellow;
    background-color: green;
    padding: .25rem .5rem;
    color: white;
    border-radius: 50%;
    font-size: 1.25rem;
    font-weight: bold;
    cursor:pointer;
}

#go.clicked {
    background-color: red;
    cursor: auto;
}